h1{
    background-color: aqua;
    color: black;
}

p{
    background-color: brown;
    color: darkgoldenrod;
}

div{
    background-color: darkseagreen;
    color: brown;
}

body{
    background-color: cornflowerblue;
}